.section {
  text-align: center;
  margin: 50px auto;
}

.title {
  color: #006633;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.grid {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
